<div id="hero" class="home">
    <div class="container">
       <div class="hero-content">
          <p id="missionstate"></p>
          <br/>
          <br/>
          <br/>
          <h1 class="color-white"><i>Welcome to Alcon Pillar</i></h1>
          <p class="color-white typed-items" data-typed-person="|">Compete like a champion and rise to the top with our
             tournament app the ultimate platform for adrenaline-fueled
             battles and victorious triumphs.</p>

          <br/>
          <div class="color-white">
             <a href="/tournamentsList/add" class="btn btn-light" role="button">Create Tournament > </a>
          </div>
       </div>
    </div>
 </div>