<div id="hero" class="home">
  <div class="container">
    <div class="hero-content">
      <p id="missionstate"></p>
      <br />
      <br />

      <h1 class="color-white"><i>Welcome to Alcon Pillar</i></h1>
      <p class="color-white typed-items" data-typed-person="|">
        Compete like a champion and rise to the top with our
        tournament app, <br />
        The ultimate platform for adrenaline-fueled
        battles and victorious triumphs.
      </p>

      <br />
      <div class="color-white">

        <button type="button" class="btn btn-light " (click)="onClick()">Create Tournament <i
            class="fa-solid fa-football"></i></button>
      </div>
    </div>
  </div>
</div>