<div class="row">
    <div class="offset md-4 col-md-4">
        <h1>Please login</h1>
        <form #form="ngForm" novalidate (ngSubmit)="loginUser(form)" class="m-2">
            <fieldset class="form-group">
                <label for="username">username:</label>
                <input type="text" class="form-control" name="username" placeholder="Enter username"
                    [(ngModel)]="username" id="username" required autofocus>
            </fieldset>

            <fieldset class="form-group">
                <label for="password">password:</label>
                <input type="password" class="form-control" name="password" placeholder="Enter password"
                    [(ngModel)]="password" id="password" required>
                <p> New User?<a href="/register">Register Here</a></p>
            </fieldset>

            <fieldset class="form-group text-right">
                <input type="submit" class="btn btn-success" value="Login">
                <a href="/"><input type="button" class="btn btn-warning" value="cancel"></a>
            </fieldset>
        </form>
    </div>
</div>
