<div class="d-flex flex-column align-items-center md-4 login mt-5" style="color: antiquewhite;">
    <h1>Please Register</h1>
    <form #form="ngForm" novalidate (ngSubmit)="registerUser(form)" class="mt-2">
        <fieldset class="form-group">
            <label for="username">Username:</label>
            <input type="text" class="form-control mt-2" name="username" placeholder="Enter username" id="username"
                [(ngModel)]="username" required autofocus>
        </fieldset>

        <fieldset class="form-group mt-3">
            <label for="password">Password:</label>
            <input type="password" class="form-control" name="password" placeholder="Enter password" id="password"
                [(ngModel)]="password" required>
        </fieldset>

        <fieldset class="form-group mt-3">
            <label for="email">Email:</label>
            <input type="email" class="form-control" name="email" placeholder="Enter email Address" [(ngModel)]="email"
                id="email" required>
        </fieldset>

        <fieldset class="form-group text-right mt-3 d-flex justify-content-center">
            <input type="submit" class="btn btn-success me-2" value="Register">
            <a href="/"><input type="button" class="btn btn-warning" value="Cancel"></a>
        </fieldset>
    </form>
</div>